.topcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

.controls {
    display: flex;
    gap: 0.5em;
}

@media (max-width: 600px) {
    .topcontainer {
        flex-direction: column;
        align-items: stretch;
        gap: 0.5em;
    }
    .controls {
        flex-direction: column;
        gap: 0.5em;
    }
}

@keyframes slideInOutSide {
    0% { opacity: 0; transform: translateY(-50%) translateX(-10px); }
    10% { opacity: 1; transform: translateY(-50%) translateX(0); }
    90% { opacity: 1; transform: translateY(-50%) translateX(0); }
    100% { opacity: 0; transform: translateY(-50%) translateX(-10px); }
  }  